@use "../../styles/vars.scss" as *;

.cart {
  padding-top: 122px;
  .cart-container {
    display: flex;
    flex-direction: column;
  }
}
.opacity-0-5 {
  opacity: 0.5;
}

.cart-btn {
  display: none;
}

.cart__wrapper {
  min-width: 300px;
  width: 100%;
  padding: 24px 16px;
  background-color: $white;
  border-radius: 18px;
}
.cart-items {
  max-height:  249px;
  overflow-y: auto;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid $dark-white;
  h3 {
    color: $black;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 100%;
  }
  p {
    background-color: $dark-white;
    width: 100%;
    max-width: 41px;
    height: 20px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 1rem;
    border-radius: 6px;
  }
}

.cart-item__info {
  display: flex;
  align-items: center;
  gap: 6px;
  // padding: 14px 0;
  height: 83px;
  border-bottom: 1px solid $dark-white;
  
 
  img {
    max-width: 64px;
    width: 100%;
    border-radius: 8px;
  }
}

.cart-item__details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.cart-item__detail-wrapper {
  h4,
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $black;
  }
  .cart-item__weight {
    color: $light-gray;
    margin-bottom: 7px;
  }
}
.cart-item__quantity {
  background-color: $dark-white;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 84px;
  height: 40px;
  border-radius: 12px;
  gap: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $black;
  button {
    background-color: transparent;
    border: none;
    font-family: $font;
    cursor: pointer;
  }
}
.cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.checkout-btn {
  padding: 12px 0;
  background-color: $orange;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  font-family: $font;
  width: 100%;
  border: none;
  border-radius: 12px;
  margin-top: 24px;
  cursor: pointer;
}
.delivery-info {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

@media (max-width: 996px) {
  
  .cart-empty {
    margin-top: 28px;
  }
  .cart {
    padding-top: 30px;
  }
  .cart-btn {
    position: absolute;
    z-index: 1;
    display: flex;
    background-color: $white;
    border: none;
    border-radius: 12px;
    padding: 16px 10px;
    gap: 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: 100%;
    div {
      padding: 1px 13px;
      background-color: $dark-white;
      border-radius: 6px;
      p {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
      }
    }
    &.active {
      max-width: 300px;
      width: 100%;
      gap: 0;
      justify-content: space-between;
      padding: 16px 10px 0 10px;
    }
    // position: relative;
  }
  .cart-container {
    position: relative;
  }
  .cart__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 300px;
    width: 100%;
    padding: 16px 10px;
    &.active {
      display: block;
    }
  }
  .cart-items{
    margin-top: 24px;
  }
  .cart-header {
    display: none;
  }
}

@media (max-width: 480px) {
  .cart-btn {
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    
  }
}