@use "../../styles/vars.scss" as *;
.product-list-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: $black;
  }
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media (max-width: 1352px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 996px) {
  .product-grid {
    grid-template-columns: repeat(4, minmax(145px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 696px) {
  .product-grid {
    grid-template-columns: repeat(3,minmax(145px,1fr));
  }
}
@media (max-width: 524px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(145px, 1fr));
  }
}
@media (max-width: 398px) {
  .product-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
