@use "../../styles/vars.scss" as *;

.profile {
  font-family: $font;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;

  &__wrapper {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-gray;

    h2 {
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }
  }

  &__return-btn {
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &__info {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }

  &__avatar {
    color: $orange;
    svg {
      width: 100px;
      height: 100px;
    }
  }

  &__details {
    flex: 1;

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      color: $black;
    }
  }

  &__field {
    display: flex;
    margin-bottom: 10px;
  }

  &__label {
    font-weight: 600;
    width: 100px;
    color: $orange;
  }

  &__value {
    color: $black;
  }

  &__logout-btn {
    background-color: $orange;
    color: $white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $dark-orange;
    }
  }


}

@media (max-width: 768px) {
  .profile {
    &__info {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__field {
      flex-direction: column;
    }

    &__label {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
