@use '../../styles/vars.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

body {
  background-color: $dark-white;
  font-family: $font;
  color: $black;
}
.container{
  max-width: clamp(60rem, 9.231rem + 79.327vw, 80.625rem);
  width: 100%;
  margin-inline: auto;
}

main{
  .container{
    display: flex;
    gap: 30px;
  }
}

.app-loading {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px)  {
  .container{
    max-width: clamp(40rem, -20rem + 125vw, 60rem)
  }
}

@media (max-width: 996px)  {
  main {
    .container{
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 769px)  {
  .container{
    max-width: clamp(18.75rem, 3.571rem + 75.893vw, 40rem)
  }
}

