@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font: "Nunito", sans-serif;

$white: #FFF;
$light-orange: #FFAB08;
$black: #000;
$orange: #FF7020;
$dark-white: #F2F2F3;
$light-gray: #B1B1B1;

