@use "../../styles/vars.scss" as *;

header {
  background-image: url('./../../assets/header-bg2.png');
  background-repeat: no-repeat;
  background-size: 180rem; // 2880px -> 611px
  padding-top: 24px;
  position: relative;
  background-position: bottom;
  min-height: 466px;
  margin-bottom: 40px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 21.85px;
}

.header__inner{
  display: flex;
  gap: 21px;
  font-family: $font;
  justify-content: center;
}
.header__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 46px;
  div {
    display: flex;
    flex-direction: column;
    gap: 52px;
    h1{
      max-width: 437px;
      width: 100%;
      color: $white;
      font-size: $font-size-50-36;
      line-height: 120%;
      font-weight: 800;
      strong {
        color: $orange;
      }
    }
    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $white;
    }
  }

  button {
    cursor: pointer;
    align-self: flex-start;
    padding: 11px 92px;
    border: none;
    border-radius: 12px;
    margin-left: 12px;
  }
}
.header__burger{
  img{

    max-width: 20.375rem;
    width: 100%;
  }
}


@media (max-width: 1024px) {
  header {
    min-height: clamp(21.813rem, -0.125rem + 45.703vw, 29.125rem);
    background-size: clamp(158.75rem, 95rem + 132.813vw, 180rem);
  }
  .header__burger {
    img{
      max-width: clamp(14.188rem, -4.375rem + 38.672vw, 20.375rem);

    }
  }
  .header__text {
    div {
      gap: clamp(1.625rem, -3.25rem + 10.156vw, 3.25rem);
    }
  }
}
@media (max-width: 768px) {
  header {
    background-size: clamp(38.188rem, -47.929rem + 430.58vw, 158.75rem);
  }
}

@media (max-width: 670px) {
  .header__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  
  .header__text {
    margin-top: 7px;
    div {
      gap: 16px;
      align-items: center;
      h1{
        font-size: clamp(1.875rem, 1.511rem + 1.818vw, 2.25rem);
        text-align: center;
      }
    }
    button {
      align-self: center;
    }
  }
}