@import './../../styles/_vars.scss';



header {
  background-image: url('./../../assets/header-bg2.png');
  background-repeat: no-repeat;
  //background-size: cover;
  padding-top: 24px;
  position: relative;
  background-position: bottom;
  min-height: 466px;
  margin-bottom: 40px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 21.85px;

}

.header__inner{
  display: flex;
  gap: 21px;
  font-family: $font;
  //align-items: center;
  justify-content: center;
}
.header__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 46px;
  div {
    display: flex;
    flex-direction: column;
    gap: 52px;
    h1{
      max-width: 437px;
      width: 100%;
      color: $white;
      font-size: $font-size-50-36;
      line-height: 120%;
      font-weight: 800;
      strong {
        color: $orange;
      }
    }
    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: $white;
    }
  }

  button {
    cursor: pointer;
    align-self: flex-start;
    padding: 11px 92px;
    border: none;
    border-radius: 12px;
    margin-left: 12px;
  }
}

@media (max-width: 650px) {
  .header__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__burger {
    img {
      max-width: clamp(12.313rem, 6.07rem + 31.212vw, 18.75rem);
      width: 100%;
    }
  }
  .header__text {
    margin-top: 7px;
    div {
      gap: 16px;
      align-items: center;
      h1{
        font-size: clamp(1.875rem, 1.511rem + 1.818vw, 2.25rem);
        text-align: center;
      }
    }
    button {
      align-self: center;
    }
  }
}