@use "../../styles/vars.scss" as *;

footer {
  padding: 52px 0 40px 0;
  margin-top: 100px;
  background-color: $white;

  .container {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
}

.footer__top {
  display: flex;
  max-width: 1154px;
  width: 100%;
  justify-content: space-between;
}
.footer__logo {
  a {
    display: flex;
    img {
      width: 100%;
      margin-top: -4px;
    }
  }
}

.footer__info {
  display: flex;
  max-width: 494px;
  width: 100%;
  justify-content: space-between;

  div {
    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 100%;
    }
  }
}

.footer__info-phone {
  display: flex;
  flex-direction: column;
  gap: 24px;

  a {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    color: $black;
    text-decoration: none;
  }
}

.footer__info-social {
  display: flex;
  flex-direction: column;
  gap: 21px;
  div {
    display: flex;
    gap: 16px;
    a {
      color: $dark-orange;
      transition: all 0.3s ease;
      &:hover {
        color: $light-orange;
      }
    }
  }
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
  }
}

@media (max-width: 1024px) {
  footer {
    margin-top: clamp(4.688rem, 0rem + 9.766vw, 6.25rem);
    padding: clamp(2.625rem, 0.75rem + 3.906vw, 3.25rem) 0 clamp(1.625rem, -1rem + 5.469vw, 2.5rem) 0;
  }
  .footer__info {
    max-width: 418px;
    div {
      p {
        font-size: clamp(1.125rem, 0rem + 2.344vw, 1.5rem);
      }
    }
  }
  .footer__info-social {
    gap: clamp(0.438rem, -2.188rem + 5.469vw, 1.313rem);
  }
  .footer__info-phone {
    gap: clamp(0.375rem, -3rem + 7.031vw, 1.5rem);
    a {
      font-size: clamp(0.75rem, 0rem + 1.563vw, 1rem);
    }
  }
}
@media (max-width: 846px) {
  .footer__top {
    flex-direction: column;
    gap: 34px;
  }
  .footer__info {
    max-width: 453px;
  }
  .footer__logo {
    a {
      img {
        max-width: 198px;
      }
    }
  }
  footer {
    .container {
      gap: 34px;
    }
  }
}


@media (max-width: 398px) {
  footer {
    margin-top: 80px;
    padding: 31px 0 26px 0;
    .container {
      gap: 34px;
    }
  }
  .footer__info {
    flex-direction: column;
    gap: 12px;
  }
  .footer__info-phone {
    gap: 8px;
  }
}
