@import './vars/vars.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $dark-white;
  font-family: $font;
  color: $black;
}
.container{
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}